name: Release Drafter
on:
  push:
    branches:
      - main
  # Allow it to be triggered manually.
  workflow_dispatch:

jobs:
  update_release_draft:
    permissions:
      # Required to create a release.
      contents: write
    name: Draft release
    runs-on: ubuntu-latest
    steps:
      - name: Run Release Drafter
        uses: release-drafter/release-drafter@v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
